body .theme--light {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --color-slogan: #1C2D69;
  --color-nav-bg: #F9E79F;
  --color-nav-fg: #3f3f3e;
}

body .theme--dark {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  --color-dark-blue: #1C2D69;
  --color-slogan: #ffffff;
  --color-nav-bg: #F9E79F;
  --color-nav-fg: #3f3f3e;
}

$color: var(--color);
$color-primary: var(--color-primary);
$color-secondary:var(--color-secondary);
$bg: var(--bg);
$bg-secondary: var(--bg-secondary);
$border-color: var(--border-color);
$color-dark-blue: var(--color-dark-blue);
$color-slogan: var(--color-slogan);
$color-nav-bg: var(--color-nav-bg);
$color-nav-fg: var(--color-nav-fg);