.cb-footer {
  background-color: $color-nav-bg;
  .vertical-line{
    border-left: 2px solid $color-nav-fg;
    position: relative;
    top: 10px;
    left: -1px;
    height: calc(100% - 30px);
    float: left;
  }

  .footer-col-wrapper {
    background-color: $color-nav-bg;
    color: $color-nav-fg;
    .footer-title {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .contact-link {
      color: $color-nav-fg;
      padding-left: 50px;
      background-size: 42px;
      background-repeat: no-repeat;
      background-position: left;
      display: block;
      height: 50px;
      line-height: 44px;
      &.tel {
        background-image: url("/assets/icons/tel.png");
      }
      &.email {
        background-image: url("/assets/icons/email.png");
      }
    }
  }
}
