@import "fonts";
@import "colors";
@import "spinner";
@import "langChanger";
@import "mainNav";
@import "footer";
@import "carousel";
@import "imageTextCombo";

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.v-application {
  @include Regular;
   .title { // To pin point specific classes of some components
    @include Regular;
  }
}

body {
  @include Regular;
  .header-container{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -16px;
    margin-bottom: -18px;
  }
  .main-nav{
    &.small{
      padding-left: 10px;
      .v-toolbar__content {
        padding: 0px 4px;
      }
    }
  }
  .banner-content{
  .banner-text{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    span{
      background-color: #3f3f3e9e;
    padding: 2px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
  }
}
  .outer-col{
    background-color:  $color-nav-bg !important;
  }
  .color-pickr{
    padding-right: 1rem;
  }
  background-color: $bg;
  color: $color;
  .centerIt{
    text-align:center;
  }
  .main-logo {
    max-width: 350px;
    max-height: 100px;
    width: 100%
  }
  .colormode-wrapper{
      text-align: end;
      justify-content: end;
      align-items: center;
      display: flex;
    }
  .splide__slide.is-visible.is-active {
    border-color: $color-nav-bg !important;
  }
  .small-text{
    font-size: 0.75rem;
  }
  .page-title {
    h1 {
      text-align: center;
    }
  }
  .destination-selector {
    .selector {
      img{
        width: 100%;
      }
      a {
        text-align: center;
        color: $color;
        text-decoration: none;
        font-size: x-large;
      }
    }
  }
  .destination-detail{
    .GMap{
      .map-info-window{
        .img >img{
          width: 250px;
          height: 150px;
        }
        .name{
          font-size: 1.25rem;
          font-weight: bold;
        }
        .address{
          font-size: 1rem;
          font-weight: normal;
        }
      }
    }
  }
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;

    i {
        transform: rotateY(180deg);
    }
  }
  .v-btn.cb-primary.theme--dark,
  .v-btn.cb-primary.theme--light {
    border-color: $color-nav-bg;
    background-color: $color-nav-bg;
    color:$color-nav-fg;
  }

}
