@import "_colors.scss";
@import "_langChanger.scss";
@import "_mainNav.scss";
@import "_footer.scss";
@import "_carousel.scss";

body {
  background-color: $bg;
  color: $color;

  .slogan {
    color: $color-slogan;
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
  }
  .main-logo {
    max-width: 350px;
    max-height: 100px;
  }
  .splide__slide.is-visible.is-active {
    border-color: $color-nav-bg !important;
  }

  .page-title {
    h1 {
      text-align: center;
    }
  }
  .destination-selector {
    .selector {
      img{
        width: 100%;
        border-radius: 20px !important;
      }
      a {
        text-align: center;
        color: $color;
        text-decoration: none;
        font-size: x-large;
      }
    }
  }
  .destination-detail{
    .GMap{
      .map-info-window{
        .img >img{
          width: 250px;
          height: 150px;
        }
        .name{
          font-size: 1.25rem;
          font-weight: bold;
        }
        .address{
          font-size: 1rem;
          font-weight: normal;
        }
      }
    }
  }
}
