@import '_colors.scss';
@import '_langChanger.scss' ;
@import '_mainNav.scss';
@import '_footer.scss';
@import '_carousel.scss';

body {
  background-color: $bg;
  color: $color;

  .slogan{
    color: $color-slogan;
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
  }
  .main-logo{
    max-width: 350px;
    max-height: 100px;
  }
  
}